///////////////////////////////////////////////////////////////////////////////
// Header Section                                                            //
///////////////////////////////////////////////////////////////////////////////

@import "../../styles/scaffold";

.header {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-auto-flow: column;
  row-gap: calc(var(--gap) * 2);
  align-items: end;

  // Ensure page is minimum 1 screen high to put menu at bottom in mobile
  height: 85vh;

  // When supported, use env vars to avoid UI chrome
  height: calc(85vh - env(safe-area-inset-bottom));

  // When supported, use dvh instead of env vars
  height: 85dvh;
  background-color: var(--color-cover);

  * {
    color: var(--color-text-inverse);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }

  h1 {
    top: 1px;
    grid-column: 1 / span calc(var(--columns) + 2);
    margin: 0;
  }

  .title, .intro { grid-column: 1 / span calc(var(--columns) + 2); }
  .intro { grid-row: 1; }
  .title { grid-row: 2; }
  .divisors { border-color: var(--color-text-inverse); }

  @include media(">tablet") {
    grid-template-rows: auto 1fr;
    padding-top: calc(var(--gap) * 6);

    h1 {
      grid-column: var(--content-start) / span calc(var(--content-width) * 3);
      text-align: left;
    }

    .divisors { grid-column: var(--content-start) / span calc(var(--content-width) * 3); }

    @include media("<=desktop") {
      .columns { display: block; }
      .intro { grid-column-end: span calc(var(--columns) + 1); }
    }
  }

  @include media(">desktop") {
    height: 90vh;
    min-height: 40rem;
    max-height: var(--header-max-height);
    padding-top: var(--gap);

    h1 { grid-column: var(--content-start) / span calc(var(--content-width) * 3); }
    .title { align-self: end; }
  }
}

.title {
  justify-content: start;
  width: 100%;
  overflow: hidden;

  h1 { left: -.5rem; }

  b {
    position: relative;
    left: .45em;
    display: block;
  }

  @include media(">desktop") {
    b { left: .6em; }
  }

  [class*="Typewriter__cursor"] { animation-timing-function: cubic-bezier(.75, 0, .04, 1.01); }
}

.intro {
  i { display: block; }
  p { display: inline; }
  .lead { line-height: 1; }

  @include media(">desktop") {
    align-items: end;
    p { display: block; }
  }
}
