///////////////////////////////////////////////////////////////////////////////
// Experience Section                                                        //
///////////////////////////////////////////////////////////////////////////////

@import "../../styles/scaffold";

.experience {
  .logo, .logos {
    display: flex;
    grid-column: var(--content-start) / span var(--content-width);
    width: 100%;
    padding: 0;
    list-style: none;
  }

  .logos {
    flex-wrap: wrap;
    gap: calc(var(--gap) * 1.5);
    align-items: center;

    li:not(.guava) path { fill: var(--color-subtle); }
  }

  @include media(">tablet") {
    .logo { grid-column: var(--content-start) / span var(--content-width); }
    .logos { grid-column: calc(var(--content-start) + var(--content-width)) / span calc(var(--content-width) * 2); }
    .logo, .logos { grid-row: 3; }
  }

  @include media(">desktop") {
    .logos {
      gap: 0;
      justify-content: space-between;
    }
  }
}
