///////////////////////////////////////////////////////////////////////////////
// Anchor                                                                    //
///////////////////////////////////////////////////////////////////////////////

.anchor {
  display: inline-block;

  svg {
    position: relative;
    display: inline-block;
    width: 1rem;
    vertical-align: middle;
    transition: all .15s ease-in-out;
  }

  span { display: none; }
}

.external {
  svg { margin-left: calc(var(--gap) / 4); }

  &:hover, &:active, &:focus {
    svg { margin-left: calc(var(--gap) / 3); }
  }
}

.social {
  svg {
    margin-right: .2rem;
    path { fill: var(--color-subtitle); }
  }

  &:hover, &:active, &:focus {
    svg path { fill: var(--color-text); }
  }
}

.linkedin svg {
  top: -3px;
  width: .9rem;
}

.offline {
  cursor: not-allowed;

  span {
    display: inline-block;
    padding: 2px 2px 3px;
    margin-left: calc(var(--gap) / 4);
    font-size: .7em;
    line-height: 1;
    color: var(--color-subtitle);
    text-transform: uppercase;
    border: 1px solid var(--color-subtle);
    border-radius: 2px;
  }

  svg { display: none; }
}
