///////////////////////////////////////////////////////////////////////////////
// Portfolio's Main Page                                                     //
///////////////////////////////////////////////////////////////////////////////

@import "../styles/scaffold";

.logo { display: none; }
.title { color: red; }

.main {
  > * {
    margin-bottom: calc(var(--gap) * 8);
    &:first-child { margin-top: calc(var(--gap) * 6); }
    @include media(">desktop") {
      &:first-child { margin-top: calc(var(--gap) * 3.5); }
      margin-bottom: calc(var(--gap) * 3.5);
    }
  }
}

.nav {
  position: fixed;
  z-index: 2;
  display: none;

  ol { list-style: none; }
  li:not(:last-child) { margin-bottom: 1rem; }
  a {
    color: var(--color-text-inverse);
    text-decoration-color: var(--color-text-inverse);
  }
  
  @include media(">desktop") {
    display: block;
    top: calc(90vh - var(--gap));
    left: var(--gap);
    align-self: end;
    transform: translateY(-100%);
    
    @include media("height>=1100px") {
      top: calc(66rem - var(--gap));
      bottom: auto;
    }
  }

  @include media(">#{$max-screen}") { left: calc((100vw - #{$max-width}) / 2); }
}

.container {
  --heading-start: 1;
  --content-start: 2;
  --content-width: 4;
  align-items: start;
  row-gap: calc(var(--gap) * 1.5);

  h2, h3 { margin-top: .266667rem; }

  h2 {
    position: sticky;
    top: 1rem;
    align-self: start;
    justify-self: end;
    grid-column: var(--heading-start);
    margin-top: -.6875rem;
    transform-origin: bottom right;
    transform: rotate(-90deg);
    white-space: nowrap;
  }

  p {
    margin-bottom: 0;
    + p { margin-top: 1.5rem; }
  }

  .column, .columns, .divisor, .divisors {
    grid-column-start: var(--content-start);
    grid-column-end: span var(--content-width);
    width: 100%;
  }

  .divisor, .divisors { border-bottom: 2px solid var(--color-text); }
  .last { grid-column-end: span calc(var(--content-width) + 1); }
  
  @include media(">desktop") {
    --heading-start: 4;
    --heading-width: 2;
    --content-start: calc(var(--heading-start) + var(--heading-width));
    --content-width: 3;
    align-items: stretch;
    row-gap: var(--gap);

    h2 {
      top: unset;
      grid-column: var(--heading-start) / span var(--heading-width);
      margin-top: .266667rem;
      transform: unset;
      white-space: normal;
    }
    
    h2, h3 { margin-top: .266667rem; }
    p + p { margin-top: 0; }
    
    .column, .columns { grid-column-start: auto; }
    
    .column {
      grid-column-end: span var(--content-width);
      &:first-of-type { grid-column-start: var(--content-start); }
    }

    .columns {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-end: span calc(var(--content-width) * 2);
      gap: var(--gap);
    }

    .divisor, .divisors { grid-row: 2; }

    .divisor {
      grid-column-end: span var(--content-width);
      &:nth-of-type(1) { grid-column-start: var(--content-start); }
      &:nth-of-type(2) { grid-column-start: calc(var(--content-start) + var(--content-width)); }
      &:nth-of-type(3) { grid-column-start: calc(var(--content-start) + var(--content-width) + var(--content-width)); }
    }

    .divisors { grid-column: calc(var(--content-start) + var(--content-width)) / span calc(var(--content-width) * 2); }
  }

  @include media(">desktoplarge") {
    --heading-start: 5;
    --content-start: 7;
  }
}

.header {
  display: grid;
  align-items: end;
  row-gap: calc(var(--gap) * 2);
  grid-template-rows: 1fr auto;
  grid-auto-flow: column;
  height: 90vh;
  background-color: var(--color-cover);

  * {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: var(--color-text-inverse);
  }
  
  h1 {
    top: 1px;
    margin: 0;
    grid-column: 1 / span var(--columns);
  }

  .title, .intro { grid-column: 1 / span calc(var(--columns) + 2); }
  .title { grid-row: 2; }
  .intro { grid-row: 1; }
  .divisors { border-color: var(--color-text-inverse); }

  @include media(">desktop") {
    grid-template-rows: auto 1fr;
    min-height: 40rem;
    height: 90vh;
    max-height: 66rem;
    padding: var(--gap) 0 0;

    h1 { grid-column: var(--content-start) / span calc(var(--content-width) * 3); }
    .title { align-self: end; }
    .divisors { grid-column: var(--content-start) / span calc(var(--content-width) * 3); }
  }
}

.intro {
  i { display: block; }
  p { display: inline; }
  .lead { line-height: 1; }
  
  @include media(">desktop") {
    align-items: end;
    p { display: block; }
  }
}

.title {
  width: 100%;
  overflow: hidden;

  h1 { left: -.5rem; }
  
  b {
    position: relative;
    left: .45em;
    display: inline-block;
  }

  @include media(">desktop") {
    b { left: .6em; }
  }
}

.testimonial {
  --quote-start: var(--content-start);
  --quote-width: var(--content-width);

  p { margin-bottom: 0; }
  blockquote,
  figcaption { grid-column: var(--quote-start) / span var(--quote-width); }

  @include media(">desktop") {
    --quote-start: 4;
    --quote-width: calc((var(--content-width) * 3) - 1);
    align-items: center;

    figcaption { grid-column: calc(var(--quote-start) + var(--quote-width)) / span var(--content-width);   }
  }
  
  @include media(">desktoplarge") {
    --quote-width: calc(var(--content-width) * 3);

    blockquote { padding-right: 2rem; }
  }
}

.contact {
  .lead {
    top: -3px;
    display: block;
    line-height: .8;
  }
}

.work {
  section {
    display: grid;
    grid-column: 1 / span calc(var(--columns) + 2);
    column-gap: var(--gap);
    row-gap: var(--gap);
    padding-bottom: calc(var(--gap) * 2);
  }
  
  h2 {
    @include media("<=desktop") {
      position: relative;
      top: unset;
      align-self: start;
      justify-self: start;
      grid-column: var(--content-start) / span calc(var(--columns) - 1);
      margin: 0;
      transform: unset;
      white-space: normal;
    }
  }
  
  div {
    grid-column: 1 / span 6;
    grid-row: 2;
    align-self: stretch;
    width: 100%;
    padding-top: 70%;
    background-color: red;
  }
  
  small {
    position: relative;
    align-self: start;
    justify-self: end;
    grid-column: var(--heading-start);
    top: -1rem;
    margin-top: .266667rem;
    transform-origin: bottom right;
    transform: rotate(-90deg);
    white-space: nowrap;
  }

  h3, ul, p, a { grid-column: var(--content-start) / span var(--content-width); }

  @include media(">desktop") {
    justify-items: stretch;

    section {
      align-items: end;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, auto) 1fr;
      row-gap: calc(var(--gap) / 2);
      grid-column: var(--content-start) / span 9;
    }
    
    // Out of regular grid
    div {
      grid-row: 1 / span 4;
      grid-column: 1 / span 2;
      padding-top: 50%;
      border-radius: 1.333333rem;
    }

    // Out of regular grid
    small {
      top: unset;
      justify-self: start;
      transform: unset;
      white-space: normal;
    }

    // Out of regular grid
    h3, small, ul, p, a {
      grid-column-start: 3;
      grid-column-end: auto;
    }
  }
}

.footer {
  row-gap: 0;
  padding-bottom: calc(var(--gap) * 1.5);

  small { display: inline; }
  
  div {
    display: inline-block;
    grid-column: var(--content-start) / span var(--content-width);
    line-height: 0;
  }
  
  @include media(">desktop") {
    small { display: block; }

    div {
      display: block;
      grid-column: var(--content-start) / span calc(var(--content-width) * 2);
    }
  }
}