// stylelint-disable
@use "sass:math";
@use "sass:map";
@use "scaffold" as *;

// Base value
$base-mob         : 15px;
$base             : 15px;
$base-large       : 16px;

// Mobile
$columns-mob      : 4;
$gap-mob          : $base-mob;
$gap-mob-out      : $base-mob * 3;

// Tablet
$columns-tab      : 10;
$gap-tab          : $base * 2;
$gap-tab-out      : $base * 4;

// Desktop
$columns          : 13;
$gap              : $base * 2;
$gap-out          : $base * 3;

// Set a max width to the grid‘s container, based on
// the wider breakpoint minus the external gutters.
$container-max    : map.get($breakpoints, "max") - ($gap-out * 2);

// Calculate the max width of each grid‘s column.
$column-max       : math.div($container-max - ($gap * ($columns - 1)), $columns);

// Set all Sass variables as CSS properties.
:root {
  --space-xs      : calc(var(--base) / 3);
  --space-sm      : calc(var(--base) * 2 / 3);
  --space-md      : var(--base);
  --space-lg      : calc(var(--base) * 4 / 3);
  --space-xl      : calc(var(--base) * 2);
  --space-2xl     : calc(var(--base) * 3);
  --space-3xl     : calc(var(--base) * 6);
  --space-4xl     : calc(var(--base) * 8);

  --space-section : var(--space-3xl);  // vertical padding between major page sections
  --space-baseline: .266667rem;        // optical nudge aligning a desktop title/label to the body baseline

  --base          : #{$base-mob};
  --column-max    : #{$column-max};
  --container-max : #{$container-max};
  --columns       : #{$columns-mob};
  --columns-total : calc(var(--columns) + 2);
  --gap           : #{$gap-mob};
  --gap-out       : #{$gap-mob-out};
  --gap-delta     : calc(var(--gap-out) - var(--gap));

  @include media(">tablet") {
    --base        : #{$base};
    --columns     : #{$columns-tab};
    --gap         : #{$gap-tab};
    --gap-out     : #{$gap-tab-out};
  }

  @include media(">desktop") {
    --base        : #{$base-large};
    --columns     : #{$columns};
    --gap         : #{$gap};
    --gap-out     : #{$gap-out};
    --base        : #{$base-large};
  }
}
// stylelint-enable

.grid {
  position: relative;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 0 repeat(var(--columns), 1fr) 0;
  gap: var(--gap);
  place-items: stretch start;
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  @include media(">phonemid") {
    grid-template-columns: var(--gap-delta) repeat(var(--columns), 1fr) var(--gap-delta);
  }

  // Oddly, the `repeat()` function doesn't support `calc()`;
  // thus the use of Sass variables to do the proper math.
  @include media(">max") {
    grid-template-columns: 1fr repeat(var(--columns), var(--column-max)) 1fr;
  }
}
