///////////////////////////////////////////////////////////////////////////////
// Scaffold                                               (Global Component) //
///////////////////////////////////////////////////////////////////////////////

// stylelint-disable

// All kinds of mixins, functions, and global variables.
@use "sass:math";

@charset "utf-8";

@import "utils";                // Mixins & functions utilities.
@import "vendor/include-media"; // Media queries with superpowers.

// Typography /////////////////////////////////////////////////////////////////

$base-mob:   16px;              // 1rem
$base:       15px;              // 1rem
$base-large: 16px;              // 1rem

// stylelint-enable
