///////////////////////////////////////////////////////////////////////////////
// Traits Section                                                            //
///////////////////////////////////////////////////////////////////////////////

@import "../../styles/scaffold";

.contact {
  .contact_label {
    display: block;
    margin-bottom: .25rem;
    color: var(--color-subtitle);
    text-transform: uppercase;
  }

  a { margin: 0; }

  .lead {
    display: inline-block;
    margin-top: -7px;
    line-height: 1.3;

    @include media(">tablet", "<=desktop") { @include text-overflow; }
  }
}

.contact_columns {
  p { display: inline; }

  @include media(">tablet") {
    p { display: block; }
  }
}
