///////////////////////////////////////////////////////////////////////////////
// Traits Section                                                            //
///////////////////////////////////////////////////////////////////////////////

@import "../../styles/scaffold";

.contact {
  em { display: block; }
  a { margin: 0 .2rem; }

  .lead {
    display: inline-block;
    margin-top: -7px;
    line-height: 1.3;

    @include media(">tablet", "<=desktop") { @include text-overflow; }
  }
}

.columns {
  p { display: inline; }

  @include media(">tablet") {
    p { display: block; }
  }
}
